- Hash Table

In [20]:
class HashTable:
    def __init__(self,size):
        self.size=size
        self.table={}
        for i in range(size):
            self.table[i]=[]
    def __str__(self):
        return str(self.table)
    def put(self,key,value):
        container=self.table[self.hash(key)]
        if value not in container:
            container.append(value)
    def get(self,key):
        return self.table[self.hash(key)]
    def hash(self,key):
        return key%self.size
myhash=HashTable(3)
names=["MODI","MODI","YOGI","RAHUL"]
for name in names:
    key = sum(map(ord,name))
    myhash.put(key,name)
for key in myhash.table.keys():
    print(key,myhash.table[key])
print(myhash)

0 ['MODI', 'YOGI']
1 []
2 ['RAHUL']
{0: ['MODI', 'YOGI'], 1: [], 2: ['RAHUL']}

In [18]:
ord('M')+ord('O')+ord('D')+ord('I')

297

In [19]:
297%3

0

Bubble Sort
    - without swap

In [32]:
l=[]

def Bubble(lst):
    for i in range(len(lst)):
        for j in range(i+1,len(lst)):
            if lst[j-1]>lst[j]:
                lst[j-1],lst[j]=lst[j],lst[j-1]
    return lst
l=[1,2,3,4,5,7,8,6,10,9]
Bubble(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [36]:
def Arms(n):
    temp=str(n)
    sum=0
    for i in temp:
        sum+=int(i)**len(temp)
    if sum==n:
        return True
    else: 
        return False
s=Arms(153)
d=Arms(122)
print(s)
print(d)

True
False

In [58]:
def Arms(n):
    temp=str(n)
    t=sum(int(i)** len(temp) for i in temp)
    if t==n:
        return True
    else:
        return False
s=Arms(153)
d=Arms(370)
print(s)
print(d)

True
True

In [63]:
def Arms(n):
    return True if sum(int(i)**len(str(n)) for i in str(n)) ==n else False
for i in range(100000):
    s=Arms(i)
    if s:
        print(i,end=" ")

0 1 2 3 4 5 6 7 8 9 153 370 371 407 1634 8208 9474 54748 92727 93084

In [74]:
l=[]
def is_Prime(num):
    for i in range(2,num):
        if num%i==0:
            return False
    return True
def Prime(n,m):
    for i in range(n,m):
        if  is_Prime(i):
            l.append(i)
    print(l)
n=int(input("enter lower limit: "))
m=int(input("Enter upper limit: "))
Prime(n,m)

[11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [75]:
import calendar
print(calendar.month(2023,3))

     March 2023
Mo Tu We Th Fr Sa Su
       1  2  3  4  5
 6  7  8  9 10 11 12
13 14 15 16 17 18 19
20 21 22 23 24 25 26
27 28 29 30 31

In [76]:
print(calendar.calendar(2023))

                                  2023

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                   1             1  2  3  4  5             1  2  3  4  5
 2  3  4  5  6  7  8       6  7  8  9 10 11 12       6  7  8  9 10 11 12
 9 10 11 12 13 14 15      13 14 15 16 17 18 19      13 14 15 16 17 18 19
16 17 18 19 20 21 22      20 21 22 23 24 25 26      20 21 22 23 24 25 26
23 24 25 26 27 28 29      27 28                     27 28 29 30 31
30 31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2       1  2  3  4  5  6  7                1  2  3  4
 3  4  5  6  7  8  9       8  9 10 11 12 13 14       5  6  7  8  9 10 11
10 11 12 13 14 15 16      15 16 17 18 19 20 21      12 13 14 15 16 17 18
17 18 19 20 21 22 23      22 23 24 25 26 27 28      19 20 21 22 23 24 25
24 25 26 27 28 29 30      29 30 31                  26 27 28 29 30

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6                   1  2  3
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       4  5  6  7  8  9 10
10 11 12 13 14 15 16      14 15 16 17 18 19 20      11 12 13 14 15 16 17
17 18 19 20 21 22 23      21 22 23 24 25 26 27      18 19 20 21 22 23 24
24 25 26 27 28 29 30      28 29 30 31               25 26 27 28 29 30
31

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                   1             1  2  3  4  5                   1  2  3
 2  3  4  5  6  7  8       6  7  8  9 10 11 12       4  5  6  7  8  9 10
 9 10 11 12 13 14 15      13 14 15 16 17 18 19      11 12 13 14 15 16 17
16 17 18 19 20 21 22      20 21 22 23 24 25 26      18 19 20 21 22 23 24
23 24 25 26 27 28 29      27 28 29 30               25 26 27 28 29 30 31
30 31

-   Selection Sort
    - selects one index for comparing with all elements in the list

In [85]:
def Selection_sort(l):
    for i in range(len(l)):
        m=i
        for j in range(i,len(l)):
            if l[m]>l[j]:
                l[m],l[j]=l[j],l[m]
    return l
l=[23,43,34,54,12,34,55]
print(Selection_sort(l))

[12, 23, 34, 34, 43, 54, 55]

In [87]:
def Selection(lst):
    Tlist=[]
    while(len(lst)>0):
        print(Tlist,lst)
        i= lst.index(min(lst))
        Tlist.append(lst[i])
        lst.pop(i)
    return Tlist
num=[50,30,40,10,20]
Selection(num)

[] [50, 30, 40, 10, 20]
[10] [50, 30, 40, 20]
[10, 20] [50, 30, 40]
[10, 20, 30] [50, 40]
[10, 20, 30, 40] [50]

[10, 20, 30, 40, 50]

- C## supports multple class declaration with same name
- javaScript supports Hoisting

- Insertion Sort

In [93]:
def Insertion(coll):
    size=len(coll)
    Tlst=[]
    while(len(coll)>0):
        print(Tlst,coll)
        a=coll.pop(0)
        count=len(Tlst)-1
        while(count>0 and Tlst[count]>a):
            count-=1
        Tlst.insert(count+1,a)
    return Tlst
n=[50,40,30,10,20]
Insertion(n)

[] [50, 40, 30, 10, 20]
[50] [40, 30, 10, 20]
[50, 40] [30, 10, 20]
[50, 30, 40] [10, 20]
[50, 10, 30, 40] [20]

[50, 10, 20, 30, 40]