Population

In [ ]:
Indian_Population_2011 = {
    'UP': 199812341,
    'Maharashtra': 112372972,
    'Bihar': 104099452,
    'West Bengal': 91276115,
    'Andhra Pradesh': 84580777,
    'Madhya Pradesh': 72626809,
    'Tamil Nadu':72147030,
    'Rajasthan':68548437,
    'Karnataka':61095297,
    'Gujarat': 60439692,
    'Orissa':41974218,
    'Kerala':33406061,
    'Karnataka':61095297,
    'Delhi':16787941,
    'Tamil Nadu':72147030,
    'Assam':31205576,
    'oddisha':41974218,
    'Punjab':27743338,
    'Kerala':33406061,
    'Nagaland':1978502,
    'Rajashtan':68548437,
}

State_Area = {
    'UP': 240928,
    'Maharashtra': 307713,
    'Bihar': 94163,
    'West Bengal': 88752,
    'Andhra Pradesh': 275045,
    'Madhya Pradesh': 308245,
    'Tamil Nadu':130058,
    'Rajasthan':342239,
    'Karnataka':191791,
    'Gujarat': 196024,
    'Orissa':155707,
    'Kerala':38852,
    'Karnataka':191791,
    'Delhi':1483,
    'Tamil Nadu':130058,
    'Assam':78438,
    'Punjab':50362,
    'Kerala':38852,
    'Nagaland':16579,
}

In [3]:
import pandas as pd
data = pd.read_excel("StateWise_Area.xlsx")
print(data)

                                       State  Area in square km
0                                  Rajasthan             342239
1                             Madhya Pradesh             308245
2                                Maharashtra             307713
3                              Uttar Pradesh             240928
4                                    Gujarat             196024
5                                  Karnataka             191792
6                             Andhra Pradesh             162975
7                                     Odisha             155707
8                               Chhattisgarh             135191
9                                 Tamil Nadu             130058
10                                 Telangana             112077
11                                     Bihar              94163
12                               West Bengal              88752
13                         Arunachal Pradesh              83743
14                                 Jharkhand              79716
15                                     Assam              78438
16                                    Ladakh              59146
17                          Himachal Pradesh              55673
18                               Uttarakhand              53483
19                                    Punjab              50362
20                                   Haryana              44212
21                         Jammu and Kashmir              42241
22                                    Kerala              38863
23                                 Meghalaya              22429
24                                   Manipur              22327
25                                   Mizoram              21081
26                                  Nagaland              16579
27                                   Tripura              10486
28               Andaman and Nicobar Islands               8249
29                                    Sikkim               7096
30                                       Goa               3702
31                                     Delhi               1484
32  Dadra and Nagar Haveli and Daman and Diu                603
33                                Puducherry                479
34                                Chandigarh                114
35                               Lakshadweep                 32

In [6]:
data=pd.read_excel("StateWise_Area.xlsx",usecols='B')
print(data.to_string(index=False))

 Area in square km
            342239
            308245
            307713
            240928
            196024
            191792
            162975
            155707
            135191
            130058
            112077
             94163
             88752
             83743
             79716
             78438
             59146
             55673
             53483
             50362
             44212
             42241
             38863
             22429
             22327
             21081
             16579
             10486
              8249
              7096
              3702
              1484
               603
               479
               114
                32

In [11]:
data=pd.read_excel("StateWise_Area.xlsx",usecols=[0,2])
print(data.to_string(index=False))

                                       State
0                                  Rajasthan
1                             Madhya Pradesh
2                                Maharashtra
3                              Uttar Pradesh
4                                    Gujarat
5                                  Karnataka
6                             Andhra Pradesh
7                                     Odisha
8                               Chhattisgarh
9                                 Tamil Nadu
10                                 Telangana
11                                     Bihar
12                               West Bengal
13                         Arunachal Pradesh
14                                 Jharkhand
15                                     Assam
16                                    Ladakh
17                          Himachal Pradesh
18                               Uttarakhand
19                                    Punjab
20                                   Haryana
21                         Jammu and Kashmir
22                                    Kerala
23                                 Meghalaya
24                                   Manipur
25                                   Mizoram
26                                  Nagaland
27                                   Tripura
28               Andaman and Nicobar Islands
29                                    Sikkim
30                                       Goa
31                                     Delhi
32  Dadra and Nagar Haveli and Daman and Diu
33                                Puducherry
34                                Chandigarh
35                               Lakshadweep

/tmp/ipykernel_1932/2197784568.py:1: FutureWarning: Defining usecols with out of bounds indices is deprecated and will raise a ParserError in a future version.
  data=pd.read_excel("StateWise_Area.xlsx",usecols=[0,2])

In [15]:
dataset=data['State'] #selecting a column
print(dataset.head()) #print first 5 rows

0         Rajasthan
1    Madhya Pradesh
2       Maharashtra
3     Uttar Pradesh
4           Gujarat
Name: State, dtype: object