In [1]:
print("HELLO\nWelcome to toay's class")

HELLO
Welcome to toay's class


- json
    - json.loads()
    - json.dump
    -  with()
     - open()
- Dictionary
    - pop(Key)
- Tuple
    - Seat Booking

In [7]:
import json
data='{"Name":"Harish","Age":20,"City":"Bangalore"}'
jdata=json.loads(data)
print(jdata)

{'Name': 'Harish', 'Age': 20, 'City': 'Bangalore'}

In [11]:
print(type(jdata))
print(jdata['Name'])
print(jdata["City"])
print(jdata["Age"])

<class 'dict'>
Harish
Bangalore
20

In [18]:
with open('book.json','w') as f:
    json.dump(jdata,f,indent='\t')

In [15]:
print(type(jdata))

<class 'dict'>

In [19]:
print(jdata["Name"])

Harish

In [22]:
with open("book.json",'r') as r:
    jdata=json.load(r)
    print(jdata)

{'Name': 'Harish', 'Age': 20, 'City': 'Bangalore'}

In [23]:
cp='{"Korea":"seoul","China":"Beijin","USA":"Washington DC"}'
jcp=json.loads(cp)
print(jcp)

{'Korea': 'seoul', 'China': 'Beijin', 'USA': 'Washington DC'}

In [24]:
for i in jcp:
    print("key=",i)
    print("Value =",jcp[i])

key= Korea
Value = seoul
key= China
Value = Beijin
key= USA
Value = Washington DC

In [26]:
with open("capital.json",'w') as f:
    json.dump(jcp,f,indent='\t')

In [27]:
fruit={"apple":5000,"banana":4000,"Grape":5300,"melon":6500}

In [37]:
for i in fruit:
    print(f'The price of {"an" if i[0] in "aeiou" else "a"} {i}is {fruit[i]} KRW')

The price of an appleis 5000 KRW
The price of a bananais 4000 KRW
The price of a Grapeis 5300 KRW
The price of a melonis 6500 KRW

In [46]:
a={'a':1,'b':2,'c':3,'d':4}
a.pop('a')
a['a']=5

In [48]:
for i in a.values():
    print(i)

2
3
4
5

##POP(KEY)

In [52]:
print('i like {} and {}'.format("Python","java"))
print('i like {1} and {0}'.format("Java","Python"))
print('{0:5},{1:6}'.format(123,1234))

i like Python and java
i like Python and Java
  123,  1234

In [64]:
f={
    "apple":6000
    ,"banaana":5000,
    "melon":3000,
    "orange": 4000
}
print(f.keys())
print(f"apple is  {'' if 'apple' in f.keys() else 'not'} in dictionary")
print(f"lemon is {'' if 'lemon' in f.keys() else 'not'} in dictionary ")

dict_keys(['apple', 'banaana', 'melon', 'orange'])
apple is   in dictionary
lemon is not in dictionary

In [69]:
popa=(100,150,230,120,100,100,140,95,81,21,4)
popb=(300,420,530,420,400,300,40,5,1,1,1)
olda=sum(popa[7:])
oldb=sum(popb[7:])
suma,sumb=sum(popa),sum(popb)
ra,rb=olda/suma , oldb/sumb
print(f" town a population rate is {ra:5.3f} and for b is {rb:5.4f}")

 town a population rate is 0.176 and for b is 0.0033

In [71]:
t=(2,3,4,5)
print(t*2)
t2=t*2

(2, 3, 4, 5, 2, 3, 4, 5)

In [72]:
print(t2.count(2))

2

In [73]:
str="Hello there"
str.count('e')

3

In [74]:
r=range(0,5,1)
len(r)

5

In [82]:
print(ord('a')+ord('b')+ord('c'))
print(ord('d')+ord('e'))

294
201

In [78]:
ord('d')+ord('c')+ord('e')

300

In [79]:
ord('E')

69

In [83]:
t1='a','b','c'
t2=('a','b','c')
t3=('d','e')
print(t1==t2)
print(t1>t3)
print(t1<t3)
print(t2+t3)
print([t2+t3])
print(t1)
l=[t2+t3]
len(l)

True
False
True
('a', 'b', 'c', 'd', 'e')
[('a', 'b', 'c', 'd', 'e')]
('a', 'b', 'c')

1

In [86]:
sales=(100,121,120,130,140,120,122,123,190,125)
c=0
for i in range(len(sales)-1):
        if sales[i+1]<sales[i]:
            c+=1
print(f"in 10 days,{c} days had reduced sales compared to the previous day.")

in 10 days,3 days had reduced sales compared to the previous day.

In [87]:
t=(1,2,5,4,3,2,9,3,7,3,9)
l=list(t)
l.sort()
print(l)

[1, 2, 2, 3, 3, 3, 4, 5, 7, 9, 9]

In [96]:
t=(1,2,5,4,3,2,1,4,7,8,9,9,3,7,3,9)
c=[t.count(i) for i in t]
m=[i for i in t if t.count(i)==max(c)]
print("Most Frequently repeated: ",max(m))
print(len(c))
print(len(t))
print(m)

Most Frequently repeated:  9
16
16
[3, 9, 9, 3, 3, 9]

In [92]:
li=[(),(1,),[],'abc',(),(),(1,),('a',),('a','b'),((),),'']
n_empp=[i for i in li if len(i)]
print(n_empp)

[(1,), 'abc', (1,), ('a',), ('a', 'b'), ((),)]

In [100]:
import random as r
seat=[[r.randint(0,1) for j in range(6)] for i in range(3)]
a=0
for i in seat:
    for s in i:
        print(s,end=" ")
        a+=1
    print()   
print("available seat: ",a)

1 0 1 1 0 1
1 1 1 1 1 1
1 1 1 0 1 1
available seat:  18