In [2]:
pip install pandas

Requirement already satisfied: pandas in c:\programdata\anaconda3\envs\pythonk\lib\site-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\programdata\anaconda3\envs\pythonk\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.21.0 in c:\programdata\anaconda3\envs\pythonk\lib\site-packages (from pandas) (1.24.2)
Requirement already satisfied: pytz>=2020.1 in c:\programdata\anaconda3\envs\pythonk\lib\site-packages (from pandas) (2022.7.1)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\envs\pythonk\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [15]:
# #pandas - it is a data analysus abd data manipulation tool that is built
# #on python
# Data series 
# it is a 1D array capable of storing varios data types
# it is possible to convert a list a tuple or a dicts into series using series
# the row labels of series is called index


#attributes that is used to get information about the series object
# series.index--> defines the index of series
# series.shape--> returns the tuple of shape of the data
# series.dtype--> returns the data type of the data
# series.size--> returns the size of the Series(data)
# series.empty-->returns if the series is empty or not--> (true or false)

SyntaxError: invalid syntax (2070995041.py, line 10)

In [4]:
#creating an empty dat series
<series_object>=pandas.series()

SyntaxError: invalid syntax (3870529943.py, line 2)

In [8]:
import pandas as pan
obj=pan.Series()
print(obj)
#creating data series using numpy array
import numpy as np
info=np.array(['I','N','D','I','A'])#creation of data
obj=pan.Series(info)#storing of data in obj
print(obj)#used t oprint data series
print(obj[2])#printing a caertain data from a set

Series([], dtype: float64)
0    I
1    N
2    D
3    I
4    A
dtype: object
D

C:\Users\Administrator.DESKTOP-S06Q1DV\AppData\Local\Temp\ipykernel_8540\2366952654.py:2: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  obj=pan.Series()

In [11]:
#creating using dict
import pandas as pd
team={'cap':'virat','vicecap':'KL','keeper':'DK','hitman':'rohit'}
data=pd.Series(team)
print(data)
print(data['cap'])

cap        virat
vicecap       KL
keeper        DK
hitman     rohit
dtype: object
virat

In [14]:
# creating data using scalar
dept = pan.Series('CSE',index=[0,3,4])
print(dept)

0    CSE
3    CSE
4    CSE
dtype: object

In [23]:
import pandas as pd
import numpy as np
mydata=pd.Series(data=[12,'Test','654','False'])
mydata1=pd.Series(data=[12,64,82,95])
# series.index--> defines the index of series
print(mydata.index)# ranges printing -->RangeIndex(start=0, stop=4, step=1)
#series.values--> returns values of data
print(mydata.values)#values returned
# series.shape--> returns the tuple of shape of the data
# series.dtype--> returns the data type of the data
print(mydata.dtype)#type (object) returned
print(mydata1.dtype)#type (int64) returned
# series.size--> returns the size of the Series(data)
print(mydata.size)#size(4) returned
# series.empty-->returns if the series is empty or not--> (true or false)

RangeIndex(start=0, stop=4, step=1)
[12 'Test' '654' 'False']
object
int64
4

In [32]:
# Functinalities / Actions / Behaviour /methods
# map() -->maps the values from the two series that have a common coloumn
myseries=pan.Series(['violet','blue','indigo','blue',1234,5678.6,True])
print(myseries.map({'violet':'color',1234:'MyFavNumber'}))
# std() -->calculate the standard deviation
print(np.std([4,5,7,8,1,6,3]))
#to_frame()-->covert the series to data fram
data=pan.Series(['mon','tue','wed','thu','fri','sat','sun'],name='Days_of_the_week')
print(data)
data_frame=data.to_frame()
print(data_frame)
#value_counts--> returns a series that contains the counts of unique values

0          color
1            NaN
2            NaN
3            NaN
4    MyFavNumber
5            NaN
6            NaN
dtype: object
2.2314999074019015
0    mon
1    tue
2    wed
3    thu
4    fri
5    sat
6    sun
Name: Days_of_the_week, dtype: object
  Days_of_the_week
0              mon
1              tue
2              wed
3              thu
4              fri
5              sat
6              sun

In [33]:
pip install matplotlib

Collecting matplotlib
  Downloading matplotlib-3.7.1-cp310-cp310-win_amd64.whl (7.6 MB)
     ---------------------------------------- 7.6/7.6 MB 18.0 MB/s eta 0:00:00
Collecting cycler>=0.10
  Downloading cycler-0.11.0-py3-none-any.whl (6.4 kB)
Collecting fonttools>=4.22.0
  Downloading fonttools-4.39.2-py3-none-any.whl (1.0 MB)
     ---------------------------------------- 1.0/1.0 MB 21.2 MB/s eta 0:00:00
Requirement already satisfied: numpy>=1.20 in c:\programdata\anaconda3\envs\pythonk\lib\site-packages (from matplotlib) (1.24.2)
Collecting pyparsing>=2.3.1
  Downloading pyparsing-3.0.9-py3-none-any.whl (98 kB)
     ---------------------------------------- 98.3/98.3 kB 2.8 MB/s eta 0:00:00
Requirement already satisfied: python-dateutil>=2.7 in c:\programdata\anaconda3\envs\pythonk\lib\site-packages (from matplotlib) (2.8.2)
Collecting kiwisolver>=1.0.1
  Downloading kiwisolver-1.4.4-cp310-cp310-win_amd64.whl (55 kB)
     ---------------------------------------- 55.3/55.3 kB 3.0 MB/s eta 0:00:00
Requirement already satisfied: packaging>=20.0 in c:\programdata\anaconda3\envs\pythonk\lib\site-packages (from matplotlib) (22.0)
Collecting pillow>=6.2.0
  Downloading Pillow-9.4.0-cp310-cp310-win_amd64.whl (2.5 MB)
     ---------------------------------------- 2.5/2.5 MB 13.1 MB/s eta 0:00:00
Collecting contourpy>=1.0.1
  Downloading contourpy-1.0.7-cp310-cp310-win_amd64.whl (162 kB)
     -------------------------------------- 163.0/163.0 kB 4.8 MB/s eta 0:00:00
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\envs\pythonk\lib\site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)
Installing collected packages: pyparsing, pillow, kiwisolver, fonttools, cycler, contourpy, matplotlib
Successfully installed contourpy-1.0.7 cycler-0.11.0 fonttools-4.39.2 kiwisolver-1.4.4 matplotlib-3.7.1 pillow-9.4.0 pyparsing-3.0.9
Note: you may need to restart the kernel to use updated packages.

In [10]:
# import matplotlib.pyplot as plt
import pandas as pan
student=['Thomas','Walter','Tyler','Bruce','Patrick']
roll=[103,105,120,193,111]
stu_series=pan.Series(student)
roll_series=pan.Series(roll)
studentframe={'student Name':stu_series,'Roll Number':roll_series}
fin_data=pan.DataFrame(studentframe)
print(fin_data)
valueinfo=pan.Index([100,100,100,200,25,25,200,300,600,488,848])
print(valueinfo.value_counts())

  student Name  Roll Number
0       Thomas          103
1       Walter          105
2        Tyler          120
3        Bruce          193
4      Patrick          111
100    3
200    2
25     2
300    1
600    1
488    1
848    1
dtype: int64

In [ ]:
#create  a data frame of human population
"""



population Area
rdnum      Bangalore
rdnum      Delhi
"""

In [12]:
import matplotlib.pyplot as plt
import random as rd
import pandas as pd
city=['Birmingham','Alberqerque','New york','Gotham','Wall Street']
pop=[100,100,200,250,250]
city_series=pan.Series(city)
pop_series=pan.Series(pop)
popu_frame={'Population':pop_series,'Area':city_series}
findata=pan.DataFrame(popu_frame)    
print(findata)
print(pop_series.value_counts())

   Population         Area
0         100   Birmingham
1         100  Alberqerque
2         200     New york
3         250       Gotham
4         250  Wall Street
100    2
250    2
200    1
dtype: int64

In [4]:
import pandas
mydataframe=pandas.DataFrame(['red','green','blue'])
print(mydataframe)
print(mydataframe.to_string(index=False))

       0
0    red
1  green
2   blue
    0
  red
green
 blue

In [7]:
#creating using dicts
mydata={'rollno':[10,20,30,40,50,],'Dept':['ECE','EEE','CSE','E&I','Mech']}
mf=pandas.DataFrame(mydata)
print(mf)

   rollno  Dept
0      10   ECE
1      20   EEE
2      30   CSE
3      40   E&I
4      50  Mech

In [11]:
avg={'Average':pandas.Series([56.45,45.56,67.34,86.78,98.45],index=['I','II','III','IV','V'])}
mydf=pandas.DataFrame(avg)
print(mydf)
#adding new data
mydf['height']=pandas.Series(['6.5 Ft','8.45 Ft','5.11 Ft','8 Ft'],index=['one','two','three','four','five'])
print(mydf)

     Average
I      56.45
II     45.56
III    67.34
IV     86.78
V      98.45

ValueError: Length of values (4) does not match length of index (5)

In [25]:
# #create a data frame that consists of various information of 5 different circle
# and name the index as a,b,c,d,e , add length and breadth of a rectangle to th existing fram
# the radius, length and breadth must be a floating point value tht is generated randomly
import pandas as pd
import random as rd
radius=[rd.uniform(5,10) for i in range(5)]
mydata={"RADIUS":pd.Series(radius,index=['I','II','III','IV','V'])}
mydata['length']=pd.Series(radius,index=['A','B','C','D','E'])
mydata['breadth']=pd.Series(radius,index=[1,2,3,4,5])
print(pd.DataFrame(mydata))

       RADIUS    length   breadth
A         NaN  8.718758       NaN
B         NaN  7.799115       NaN
C         NaN  7.993947       NaN
D         NaN  7.898385       NaN
E         NaN  7.111297       NaN
I    8.718758       NaN       NaN
II   7.799115       NaN       NaN
III  7.993947       NaN       NaN
IV   7.898385       NaN       NaN
V    7.111297       NaN       NaN
1         NaN       NaN  8.718758
2         NaN       NaN  7.799115
3         NaN       NaN  7.993947
4         NaN       NaN  7.898385
5         NaN       NaN  7.111297

In [60]:
# #create a data frame that consists of various information of 5 different circle
# and name the index as a,b,c,d,e , add length and breadth of a rectangle to th existing fram
# the radius, length and breadth must be a floating point value tht is generated randomly
import pandas as pd
import random as rd
radius=[rd.uniform(5,10) for i in range(5)]
length=[rd.uniform(5,10) for i in range(5)]
breadth=[rd.uniform(5,10) for i in range(5)]
mydata={"RADIUS":pd.Series(radius,index=['A','B','C','D','E'])}
mydata['length']=pd.Series(length,index=['A','B','C','D','E'])
mydata['breadth']=pd.Series(breadth,index=['A','B','C','D','E'])
mydata['Area of Rectangle']=pd.Series(mydata['length']*mydata['breadth'],index=['A','B','C','D','E'])
mydata['Area of Circlee']=pd.Series(mydata['RADIUS']**2*3.14,index=['A','B','C','D','E'])
mydata['Area of Triangle']=pd.Series(mydata['length']*mydata['breadth']*0.5,index=['A','B','C','D','E'])
del mydata['Area of Triangle']
mf = pd.DataFrame(mydata)
# print(mf)

print(mf.loc['A':'C'])
# print(mf.iloc[2])

     RADIUS    length   breadth  Area of Rectangle  Area of Circlee
A  8.756845  7.047165  9.469102          66.730328       240.782527
B  6.612797  5.509352  6.775336          37.327715       137.309319
C  9.722040  8.387462  8.382967          70.311814       296.786690

In [37]:
mydata

{'RADIUS': A    7.725931
 B    9.244461
 C    9.562295
 D    8.767857
 E    8.941699
 dtype: float64,
 'length': A    7.077528
 B    8.359188
 C    9.637225
 D    8.063448
 E    5.324728
 dtype: float64,
 'breadth': A    5.230574
 B    7.951653
 C    5.925089
 D    5.143882
 E    8.141512
 dtype: float64,
 'Area of Rectangle': A    37.019533
 B    66.469361
 C    57.101417
 D    41.477424
 E    43.351332
 dtype: float64,
 'Area of Circlee': A    187.426607
 B    268.344564
 C    287.113721
 D    241.388495
 E    251.055487
 dtype: float64}

In [61]:
mf.iloc[0:2]

     RADIUS    length   breadth  Area of Rectangle  Area of Circlee
A  8.756845  7.047165  9.469102          66.730328       240.782527
B  6.612797  5.509352  6.775336          37.327715       137.309319

In [ ]:
\